body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont;
  /* background: #0f172a;  */
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  width: 500px;
  height: 750px;
  margin: 60px auto;
  background: #020617;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.chat-header {
  background: #020617;
  color: #e5e7eb;
  padding: 14px;
  text-align: center;
  font-weight: 700;
  font-size: 1.6rem;
  border-bottom: 1px solid #1e293b;
}

.chat-messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  scroll-behavior: smooth;
}

.chat-messages {
  overflow-y: scroll;
  scrollbar-width: none;
}

.chat-messages::-webkit-scrollbar {
  display: none;
}

/* Common bubble */
.message {
  max-width: 78%;
  padding: 10px 14px;
  border-radius: 14px;
  line-height: 1.4;
  font-size: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* User message (RIGHT) */
.user {
  align-self: flex-end;
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: #ecfdf5;
  border-bottom-right-radius: 4px;
}

/* AI message (LEFT) */
.ai {
  align-self: flex-start;
  background: #111827;
  color: #e5e7eb;
  border-bottom-left-radius: 4px;
  border: 1px solid #1f2937;
}

/* Input area */
.chat-input {
  display: flex;
  padding: 12px;
  background: #020617;
  border-top: 1px solid #1e293b;
}

.chat-input input {
  flex: 1;
  background: #020617;
  border: 1px solid #1f2937;
  border-radius: 8px;
  padding: 10px 12px;
  color: #e5e7eb;
  outline: none;
}

.chat-input input::placeholder {
  color: #64748b;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 16px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  color: #052e16;
  font-weight: 600;
  cursor: pointer;
}

.chat-input button:hover {
  background: #16a34a;
}



@media (max-width:768px) { 

  body{
    width: 100%;
    height: 100%;
  }
  .chat-container{
    width: 100%;
    height: 100%;
    margin: 0 0;
  }

}